<div id="main" class="container base">
    <div class="content row">
        <th:block sec:authorize="isAuthenticated()">
            <input type="hidden" name="username" th:value="${#authentication.getPrincipal().getUsername()}">
            <input type="hidden" name="nickname" th:value="${#authentication.getPrincipal().getNickname()}">
            <input type="hidden" name="profile_pic" th:value="${#authentication.getPrincipal().getProfile_pic()}">
        </th:block>

        <!-- Left-sidebar -->
        <div id="left-sidebar" class="col-lg-3 col-md-12 follow">
            <div id="sign" class="sidebar-box component-desktop" sec:authorize="!isAuthenticated()">
                <div id="sign-header">
                    <h5 class="text-dark">
                        <i class="fas fa-key"></i> Sign in
                    </h5>
                </div>
                <hr>
                <div id="sign-body">
                    <a href="/sign/form" id="signin-eoisa" class="btn btn-sign"><img src="/images/eoisa.png" alt="어이사 아이콘"><span id="eoisa"> 어이사 로그인</span></a>
                    <button id="social-signin-naver" class="btn btn-sign">
                        <img src="/images/naver.png" alt="네이버 아이콘"><span id="naver"> 네이버 로그인</span>
                    </button>
                    <button id="social-signin-kakao" class="btn btn-sign">
                        <img src="/images/kakao.png" alt="카카오 아이콘"><span id="kakao"> 카카오 로그인</span>
                    </button>
                </div>
            </div>
            <div id="userinfo" class="sidebar-box component-desktop" sec:authorize="isAuthenticated()">
                <div id="userinfo-header">
                    <div id="userinfo-profile">
                        <img th:src="${#strings.isEmpty(#authentication.getPrincipal().getProfile_pic()) ? '/images/profile.png' : #authentication.getPrincipal().getProfile_pic()}" id="profile-img" class="rounded-circle" alt="유저 프로필 이미지">
                    </div>
                    <h5 class="text-dark">
                        <strong sec:authentication="principal.nickname"></strong>
                        <small sec:authentication="principal.platform" class="text-black-50"></small>
                    </h5>
                </div>
                <hr>
                <button sec:authorize="hasAuthority('USER')" id="btn-userinfo" class="btn btn-info" data-toggle="modal" data-target="#modal-modify-userinfo" data-backdrop="static" data-keyboard="false">My Info</button>
                <button sec:authorize="hasAuthority('ADMIN')" id="btn-userinfo" class="btn btn-danger" onclick="location.href='/admin/main'">Admin Page</button>
                <form id="form-signout" action="/sign/signout" method="POST">
                    <button id="btn-signout" class="btn btn-secondary" type="submit" form="form-signout">Sign out</button>
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                </form>
            </div>

            <th:block th:with="url=${#httpServletRequest.requestURI}">
                <div th:unless="${#strings.contains(url, 'rank') || #strings.contains(url, 'issue') || #strings.contains(url, 'likeit') || #strings.contains(url, 'coffee') || #strings.contains(url, 'merit') || #strings.contains(url, 'search')}" id="filter" class="sidebar-box">
                    <div id="filter-header">
                        <h5 class="text-dark">
                            <i class="fas fa-filter"></i> Filtering
                            <button class="btn btn-transparent" data-toggle="collapse" data-target="#filter-body">
                                <i class="fas fa-angle-down"></i>
                            </button>
                        </h5>
                    </div>
                    <hr>
                    <div id="filter-body" class="collapse">
                        <span class="filter-title">
                            <i class="fas fa-globe"></i>지역
                        </span>
                        <ul th:with="regionList=${ new String[] {'국내', '해외'} }" class="filter-menu region">
                            <li th:each="region : ${regionList}" th:attr="data-value=${region}" th:text="${region}" class="filter-list active" data-key="region"></li>
                        </ul>
                        <span class="filter-title">
                            <i class="fas fa-desktop"></i>사이트
                        </span>
                        <ul th:with="siteList=${ new String[] {'알구몬', '뽐뿌', '딜바다', '쿨앤조이', '클리앙', '루리웹', '어미새'} }" class="filter-menu site">
                            <li th:each="site : ${siteList}" th:attr="data-value=${site}" th:text="${site}" class="filter-list active" data-key="site" ></li>
                        </ul>
                        <span class="filter-title">
                            <i class="fas fa-shopping-basket"></i> 쇼핑몰
                        </span>
                        <ul th:with="shopList=${ new String[] {'11번가', '옥션', 'G마켓', '티몬', '위메프', '쿠팡', 'Amazon', 'eBay', 'Newegg', 'Aliexpress'} }" class="filter-menu shop">
                            <li th:each="shop : ${shopList}" th:attr="data-value=${shop}" th:text="${shop}" class="filter-list active" data-key="shop"></li>
                        </ul>
                        <span class="filter-title">
                            <i class="fas fa-hourglass-end"></i> 종료 여부
                        </span>
                        <ul class="filter-menu isended">
                            <li class="filter-list active" data-key="isended" data-value="종료">종료 포함</li>
                        </ul>
                    </div>
                </div>
            </th:block>
        </div>

        <!-- Main-Content -->
        <div id="main-content-wrapper" class="col-lg-6 col-md-12">
            <th:block th:with="path=${#httpServletRequest.getServletPath()}">
                <div th:if="${path ne '/'}" class="current-page-info">
                    <p th:if="${#strings.contains(path, 'rank')}">어머이건사야해 > <strong>핫딜 랭킹</strong></p>
                    <p th:if="${#strings.contains(path, 'issue')}">어머이건사야해 > 테마 핫딜 > <strong>화제의 핫딜</strong></p>
                    <p th:if="${#strings.contains(path, 'likeit')}">어머이건사야해 > 테마 핫딜 > <strong>추천 많은 핫딜</strong></p>
                    <p th:if="${#strings.contains(path, 'coffee')}">어머이건사야해 > 테마 핫딜 > <strong>커피 한 잔 값 핫딜</strong></p>
                    <p th:if="${#strings.contains(path, 'merit')}">어머이건사야해 > 테마 핫딜 > <strong>핫딜 유력</strong></p>
                    <p th:if="${#strings.contains(path, 'search')}">어머이건사야해 > 검색 > <strong>[[${keyword}]]</strong></p>
                </div>
            </th:block>
            <th:block th:replace="fragments/deal.html"></th:block>
        </div>

        <!-- Right-sidebar -->
        <div id="right-sidebar" class="col-md-3 component-desktop">
            <div id="ranking" class="sidebar-box">
                <div id="ranking-header">
                    <h5 class="text-dark"><i class="fab fa-hotjar"></i> HotDeal Ranking</h5>
                </div>
                <hr>
                <div id="ranking-body">
                    <div class="ticker">
                        <ul th:unless="${#lists.isEmpty(ranking)}">
                            <li th:each="rankList, loopStatus : ${ranking}" th:if="${loopStatus.count le 10}">
                                <strong th:text="${'#' + rankList.RK}" class="text-info"></strong>
                                <a th:href="${rankList.URL_SRC}" th:text="${#strings.abbreviate(rankList.GOODS_TITLE, 17)}" th:title="${rankList.GOODS_TITLE}" target="_blank" rel="noreferrer noopener"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div id="banner" class="sidebar-box">
                <div class="ad-banner sidebar">
                    <img src="/images/adbanner_side.png" alt="측면 광고 배너 이미지">
                </div>
                <!-- 
                <div id="recent-article-header">
                    <h5 class="text-dark"><i class="fas fa-chalkboard"></i> Recent Articles</h5>
                </div>
                <hr>
                <div id="recent-article-body">
                    <p><a href="#">공무원 합격은 에듀윌!</a></p>
                    <p><a href="#">공인중개사 합격 ~</a></p>
                    <p><a href="#">주택관리사 합격 ~</a></p>
                    <p><a href="#">서울사이버대학에 다니고</a></p>
                    <p><a href="#">나의 성공시대 시작됬다 ~</a></p>
                </div>
                <div id="recent-article-header">
                    <h5 class="text-dark"><i class="fas fa-comments"></i> Recent Replies</h5>
                </div>
                <hr>
                <div id="recent-reply-body">
                    <p><a href="#">고구마 장사가 너무 힘들어요</a></p>
                    <p><a href="#">왜?</a></p>
                    <p><a href="#">고구마가 너무 달아서................</a></p>
                    <p><a href="#">뀔뀌리깔뀔꼴뀔</a></p>
                    <p><a href="#">JMT</a></p>
                </div>
                -->
            </div>
        </div>
    </div>

    <th:block th:replace="fragments/modals.html"></th:block>

    <!-- Scroll to Top Button -->
    <button id="scrolltop" class="btn btn-xs"></button>
</div>